body.login-form{
	background:#F1C25B;
}

body.login-form .login-form {
	background:#eee;
	width: 26%;
	margin:9% auto 4% auto;
 	position: relative;
 	-webkit-border-radius: 0.4em;
	-o-border-radius: 0.4em;
	-moz-border-radius: 0.4em;
}

body.login-form .head {
	position: absolute;
	top:-15%;
	left: 35%;
}
body.login-form .head img {
	border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-moz-border-radius:50%;
	border:6px solid rgba(221, 218, 215, 0.23);
}
body.login-form .main{
	position:relative;
}

body.login-form .main h1{
	font-size:25px;
	color:#676767;
	font-weight:400;
	padding-top: 19%;
	text-align: center;
}
body.login-form .main form {
	width: 80%;
	margin: 0 auto;
	padding: 6% 0 9% 0;
}
body.login-form .main p {
text-align: center;
}
body.login-form .main form p a {
	color: #888;
}
body.login-form form p a:hover {
	color:#21A957;
}

body.login-form input[type="text"], 
 body.login-form input[type="password"]{
	text-align:left;
	position: relative;
	width:92%;
	padding:3%;
	background:#D3D3D3;
	margin-bottom: 6%;
	color: #676767;
	font-weight:600;
	font-size: 16px;
	outline: none;
	border: none;
	border-radius: 5px;
	border:1px solid #DED6D6;
	-webkit-appearance:none;
}
 body.login-form input[type="text"]:hover, 
 body.login-form input[type="password"]:hover{
 	border:1px solid #949494;
	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:	0.5s;
 	
 }
body.login-form input[type="submit"]{
	width: 99%;
	padding: 3%;
	margin-bottom: 8%;
	background: #5A9C66;
	color: #ECECEC;
	font-size: 20px;
	outline: none;
	border: none;
	cursor: pointer;
	font-weight:500;
	border-radius: 5px;
	transition: 0.5s;
	-webkit-appearance:none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
}
body.login-form input[type="submit"]:hover{
	background:#128A42;
	color:#fff;
}
/*-----start-responsive-design------*/
@media (max-width:1440px){
	body.login-form .login-form {
	width:30%;
	margin: 11% auto 4% auto;
	}
	body.login-form .main h1 {
	padding-top: 23%;
	}
}

@media (max-width:1366px){
	body.login-form .login-form {
	width: 32%;
	margin: 10% auto 4% auto;
	}
}

@media (max-width:1280px){
	body.login-form .login-form  {
		margin:8% auto 0;
		width:34%;
	}
	
}

@media (max-width:1024px){
body.login-form .login-form  {
		margin:12% auto 0;
		width:45%;
	}
	
}
@media (max-width:768px){
	body.login-form .login-form  {
		margin: 16% auto 0;
		width: 59%;
	}
}
@media (max-width:640px){                                  
	body.login-form .login-form {
	margin: 20% auto 0;
	width: 63%;
	}
}
@media (max-width:480px){                                 
	body.login-form .login-form {
	margin: 32% auto 0;
	width: 74%;
	}
	
	body.login-form .main h1 {
	font-size: 22px;
	}
	body.login-form .head img {
	width: 78%;
	}
	body.login-form .head {
	top: -15%;
	left: 34%;
	}
	body.login-form input[type="text"], 
	body.login-form input[type="password"], 
	body.login-form input[type="submit"] {
	font-weight: 600;
	margin-bottom: 4%;
	}
}
@media (max-width:320px){                                  
	body.login-form .login-form  {
		margin:20% auto 0;
		width: 85%;
	}
	body.login-form .main h1 {
	padding-top: 20%;
	font-size: 20px;
	}
	body.login-form .head img {
	width: 60%;
	border: 5px solid rgba(221, 218, 215, 0.23);
	}
	body.login-form .head {
	top: -15%;
	left: 36%;
	}
	body.login-form input[type="text"], 
	body.login-form input[type="password"],
	body.login-form input[type="submit"] {
	font-weight:600;
	font-size: 15px;
	}
	body.login-form .main form p a {
	font-size: 15px;
	}
	body.login-form input[type="submit"] {
	padding: 4%;
	}
		
}
