.left{float:left;}
.right{float:right;}
.clear{clear:both;}
.hide{display: none;}
.block{display: block;}
.small{font-size:10px;font-style: italic;}
.center{text-align: center;}

html,
body {
    margin:0;
    padding:0;
    height:100%;
}

body {
    background: transparent url("../images/motif.jpg") repeat scroll left top;
    color: #596667;
    font-family: 'Ubuntu', Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
}

#wrapper {
    margin: 0;
    position: relative;
    width: 100%;
    min-height:100%;
}

#container {
    padding-bottom:100px;   /* Height of the footer element */
}

#header {
    background-color: #596667;
    box-shadow: 0 -5px 10px -5px #656565 inset;
    color: #fff;
    font-size: 0.889em;
    height: 40px;
    margin-bottom: 20px;
}

#footer {
    background-color: #596667;
    box-shadow: 0 -5px 10px -5px #656565 inset;
    color: #fff;
    font-size: 0.889em;
    height: 60px;
    width:100%;
    position:absolute;
    bottom:0;
    overflow: hidden;
    left:0;
}

#footer ul,
#footer ul li{
    margin:0;
    padding: 0;
    text-align: right;
}

#footer ul li{
    display: inline-block;
    padding: 23px 25px;
}

#footer ul li a{
    color: #ffffff;
    text-decoration: none;
}

#footer ul li a:hover{
    text-decoration: underline;
}

#container .inside{
    width: 95%;
    margin: 0 auto;
}


#main > .inside{
    text-align: center;
}

#container .inside h1 {
    color: #596667;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 10px;
    background: #ffffff;
    display: inline-block;
}

#container .inside fieldset legend {
    color: #596667;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background: #ffffff;
    display: inline-block;
}

#container .inside fieldset{
    background:#F3F7FA;
    border:1px solid #596667;
    padding:20px;
    margin-bottom: 15px;
}

header .inside{
    margin: 0 auto;
    width: 1000px;
}

header .inside #menu_principal{
    width: 890px;
    float: left;
}

header .inside #menu_principal ul,
header .inside #menu_principal ul li{
    list-style: none;
    padding: 0;
    margin:0;
}

header .inside #menu_principal ul li{
    display: inline-block;
}

header .inside #menu_principal ul li a{
    color: #fff;
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

header .inside #menu_principal ul li a:hover,
header .inside #menu_principal ul li.active a{
    background:#8161a0;
}

header .inside .logo_container{
    width: 100px;
    float: right;
}

#logo{
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    width: 70px;
    position: absolute;
     -ms-transform: rotate(17deg); /* IE 9 */
    -webkit-transform: rotate(17deg); /* Chrome, Safari, Opera */
    transform: rotate(17deg);
}

#logo_bottom{
    display: inline-block;
    margin-left: 5px;
    position: absolute;
    top: 5px;
    width: 30px;
     -ms-transform: rotate(17deg); /* IE 9 */
    -webkit-transform: rotate(17deg); /* Chrome, Safari, Opera */
    transform: rotate(17deg);
}

.tooltip{
    background-color: #596667;
    border-radius: 6px;
    left: -2000px;
    padding: 5px;
    position: absolute;
    max-width: 375px;
    display: none;
}

.tooltip p {
    background-color: #222;
    border-radius: 6px;
    color: #fff;
    margin: 0;
    padding: 10px;
    line-height: 130%;
}

.tooltip time{
    color:#ffffff;
    font-size: 10px;
    font-style: italic;
    text-align: right;
    display: block;
    padding:2px 0;
}

.popup {
    margin: 0 auto;
    position: fixed;
    text-align: right;
    top: 0;
    width: 100%;
    z-index: 999;
}

.popup > p {
    background: #599b65 none repeat scroll 0 0;
    border-radius: 0 0 12px 12px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.popup > p.error {
    background: #C96150 none repeat scroll 0 0;
}

.modal{
    width:100%;
    height:100%;
    z-index:999;
    position:fixed;
    left:0;
    top:0;
}

.modal .modal-box{
    z-index:9999;
    border-radius: 10px;
    position:relative;
    padding:7px;
    text-align:center;
    background:#596667;
    width: 320px;
    margin:0 auto;
    margin-top: 30px;
    border:1px solid #596667;
    box-shadow:0 6px 6px #596667;
}

a.round{
    display: inline-block;
    color:#596667;
    font-size: .7em;
    background-color: #ffffff;
    padding: 7px 10px;
    border-radius: 6px;
    text-decoration: none;
}

a.round.view:hover{
    background-color:#599B64;
    color: #ffffff;
}

a.round.remove:hover{
    background-color:#C96251;
    color: #ffffff;
}

.gridster .actions,
.gridoff .actions{
    position: absolute;
    right: 10px;
    top: 4px;
    display: block;
}

.gridster .action_link,
.gridoff .action_link {
    background: #fff none repeat scroll 0 0;
    border-radius: 500px;
    color: #596667;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 10px;
    text-decoration: none;
    border:1px solid #fff;
}

.gridster .action_link{
    padding-left: 4px;
    padding-right: 4px;
}

.gridster .action_link:hover ,
.gridoff .action_link:hover {
    background: none;
    color: #ffffff;
    border-color: #ffffff;
}

.gridoff .panel{
    margin-bottom: 12px;
    text-align: right;
}

.gridoff .panel .action_link{
    background-color:#596667;
    border-color: #596667;
    color:#ffffff;
}

.gridoff .panel .action_link:hover{
    background-color:#ffffff;
    color: #596667;
}

.modal input[type=text] {
    border: 0 none;
    border-radius: 12px;
    margin-top: 12px;
    padding: 7px;
    width: 230px;
}

.simplecolorpicker.icon, .simplecolorpicker span.color {
    border: 1px solid #ffffff;
    border-radius: 12px;
    cursor: pointer;
    display: inline-block;
    height: 17px;
    width: 17px;
}

.submit_container{
    text-align:center;
}

.submit_container input[type=submit]{
    margin-top: 12px; 
    border-radius: 12px;
    color: rgb(255, 255, 255); 
    background: rgb(86, 152, 97);
    padding: 7px; 
    font-weight: bold; 
    border: 1px solid rgb(255, 255, 255); 
    cursor: pointer;
}

.submit_container input[type=submit]:hover{
    color: rgb(86, 152, 97); 
    background: rgb(255, 255, 255);
}

.submit_container input.button,
a.button{
    margin-top: 12px; 
    border-radius: 12px;
    color: rgb(255, 255, 255); 
    background: rgb(86, 152, 97);
    padding: 7px; 
    font-weight: bold; 
    border: 1px solid rgb(255, 255, 255); 
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.submit_container input.button:hover,
a.button:hover{
    color: rgb(86, 152, 97); 
    background: rgb(255, 255, 255);
    border-color:  rgb(86, 152, 97);
}

#container .inside fieldset.td{
    height: 100px;
    width: 45%;
}




.ce_form .widget-select:nth-child(2n+1), .ce_form .widget-text:nth-child(2n+1) {
    float: right;
}
.ce_form .widget-select, .ce_form .widget-text {
    float: left;
    width: 45%;
}
.ce_form .left-important {
    float: left !important;
}

.ce_form label {
    cursor: pointer;
    display: inline-block;
    padding-bottom: 12px;
    padding-top: 4px;
}


.ce_form .widget-text input,
.ce_form .widget-select select,
.ce_form .widget-area textarea {
    max-width: 95%;
    width: 95%;
}

.ce_form input[type="text"],
.ce_form select,
.ce_form textarea{
    background: #dcdcdd;
    border: 1px solid #323335;
    font-size: 0.8em;
    padding: 2%;
}
form.ce_form  input, form.ce_form  textarea, form.ce_form  select {
    margin-bottom: 10px;
}


.ce_form .checkbox_container span {
    float: left;
    margin-bottom: 15px;
    margin-right: 10px;
}

.ce_form input[type="checkbox"] {
    margin: 0 5px;
    width: auto;
}

.ce_form  .checkbox_container label {
    display: inline;
    float: none;
    width: auto;
}

/** TEMPORAIRE **/

.sortable-ghost{background: #A5A5A5 !important;color:#ffffff !important;}

.gridster *,
.gridoff * {
  margin:0;
  padding:0;
}


.controls {
    margin-bottom: 20px;
}

.gridster ul ,
.gridoff ul {
    background-color: #EFEFEF;
}

.gridoff ul {
    text-align: left;
    width: 960px;
    display: table;
    margin-bottom: 12px;
}

.gridster,
.gridoff {
    margin: 0 auto;
    width: 100%;
    opacity: .9;
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridoff{
    text-align: center;
}

.gridoff.fixe-width{
    width: 960px;
    padding: 30px;
    background:#ffffff;
    text-align: left;
    border: 1px solid #596667;
}

.gridster > *,
.gridoff > *{
    margin:0 auto
}

.gridster .gs-w {
    background: #DDD; 
    cursor: pointer;
}

.gridster .preview-holder {
    border: none!important;
    background: red!important;
}

.gridoff li{
    width: 50%;
    position: relative;
    display: table-cell;
}

.gridster li .grid-header,
.gridoff li .grid-header {
    background: #999;
    display: block;
    padding: 10px 0;
    cursor: move;
    position: absolute;
    top:0;
    z-index:2;
    width: 100%;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
}

.gridoff li .grid-header{
    cursor: default;
    position: relative;
}

.gridster li .grid-header .inside,
.gridoff li .grid-header .inside{
    padding: 0 10px;
}

.gridster li .grid-content,
.gridoff li .grid-content{
    display: block;
    text-align: left;
    padding: 0;
    overflow-y:auto; 
    height:100%;
}

.gridoff li .grid-content{
    cursor: pointer;
}

.gridster li .grid-content > *,
.gridoff li .grid-content > * {
    display: block;
    position: relative;
}

.gridster li.loader{
    background:url("../images/gears.gif") center center no-repeat;
}

.grid-wrapper {
    height: 100%;
    min-height: 100px;
    display: block;
    position:relative;
}

.grid-wrapper.no-height{
    min-height: auto;
}

.gridster li .grid-content .rss_default a,
.gridoff li .grid-content .lien_rss{
    background: #f4f4eb;
    padding: 7px 10px;
    color:#596667;
    text-decoration: none;
    display: block;
}

.gridster li .grid-content .rss_default a{
    font-size: 12px;
}

.gridster li .grid-content .marge{
    padding-top: 45px;
    display: block;
}

.gridster li .grid-content .rss_default.even a{
    background:#ffffff;
}

.gridster li .grid-content .rss_default a:hover{
    background: #8161a0;
    color: #ffffff;    
}

.gridster li .grid-content .rss_default a.have_favicon{
    background-position:5px center;
    background-repeat: no-repeat;
    background-size: auto 12px;
    padding-left: 25px;
}

.context-menu{
    display:none;
    position: absolute;
    background: #EEEEEE;
    border: 1px solid #DDDDDD;
    width:auto;
    font-size: 13px;
    z-index: 200;
}