nav > input.menu-nav,
nav > input.menu-nav + label{
    display: none;
}


@media only screen and (max-width : 1000px) {
    header .inside,
    header .inside #menu_principal{
        width: 100%;
    }

    .gridoff ul{
        width: 100%;
        display: inline-block;
        margin-bottom: 0;
    }

    .gridoff.fixe-width,
    .gridoff li{
        width: auto;
        display: block;
    }

    .gridoff li{
        margin-bottom: 12px;
    }

    header .inside #menu_principal,
    header .inside .logo_container{
        float: none;
        clear: both;
    }

    header .inside #menu_principal{
        position: fixed;
    }

    header .inside .logo_container{
        position: absolute;
        left: 10px;
        z-index: 40;
    }

    header .inside .logo_container #logo{
        width: 45px;
    }

    header .inside #menu_principal ul li{
        display: block;
    }

    #container .inside fieldset.td,
    .ce_form .widget-select, .ce_form .widget-text{
        width: auto;
        display: block;
        float: none !important;
    }

    .gridster ul{
        max-width: 100% !important;
        height: auto !important;
    }

    .gridster ul li{
        max-width: 100% !important;
        display: block;
        position: relative !important;
        top: 0 !important;
        width: 100% !important;
        left: 0 !important;
    }

    /** Menu **/
    nav.resp > input.menu-nav + label {
        background: #596667 url("../images/mobile_menu_button.png") no-repeat center center;
        cursor: pointer;
        display: block;
        height: 40px;
        position: absolute;
        right: 0;
        top: auto;
        width: 50px;
        z-index: 10;
        cursor: pointer;
    }

    nav.resp .nav-content{
        background: #596667;
        border: 1px solid #444;
        box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.75);
        height: auto;
        margin: 40px 10px 40px 50px;
        padding: 20px;
        position: relative;
        right: 0;
        top: 10px;
        transition: top 0.5s ease-in-out 0s;
        z-index: 50;
    }

    nav.resp > input.menu-nav:checked ~ .nav-content {
        top: -400px;
    }
}